.campus-tabs button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #235158;
}

.campus-tabs .active {
  font-weight: bold;
  color: white;
  background-color: #222; /* Dark purple for active tab */
}
